<div id="incidents-page">
  <div class="bg-gray shadow overflow-hidden <sm:pt-0">
    <div v-if="auth?.isAuthenticated">
      <div class="mt-1 flex flex-row items-center <sm:(flex-wrap flex-col items-start)">
        <div class="inline-flex items-center px-4 py-2 rounded-md shadow-sm bg-steel-grey w-60 mr-2 <sm:mb-2">
          <input
            v-model="searchLabel"
            type="text"
            class="search px-1 py-0 text-white text-sm font-medium bg-steel-grey focus:steel-grey focus:outline-none outline-none border-none w-full focus:ring-transparent"
            placeholder="Filter by keyword"
            @keyup="searchStream()"
          >
        </div>
        <div class="relative">
          <button
            v-if="incidentsStatus"
            type="button"
            class="relative w-full bg-steel-grey rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-pointer outline-none focus:outline-none focus:border-transparent border-transparent sm:text-sm w-40 flex items-center mr-2 <sm:mb-2"
            aria-expanded="false" aria-labelledby="listbox-label" aria-haspopup="true" id="status-button"
            @click="toggleStatusMenu()"
          >
            <span class="block truncate">
              Status:
            </span>
            <span class="ml-3 block truncate">
              {{ getSelectedStatus() }}
            </span>
            <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
          <ul v-if="incidentsStatus !== undefined && statusSelected === true" class="absolute z-10 mt-1 bg-steel-grey w-40 shadow-lg max-h-56 rounded-md overflow-y focus:outline-none"
            role="menu" aria-labelledby="status-button" @mouseleave="statusSelected = false">
            <li
              v-for="(status, i) in incidentsStatus"
              class="text-gray-900 cursor-pointer select-none relative pl-3 py-1 hover:bg-box-grey"
              :id="'listbox-option-' + i"
              role="option"
              @click="toggleStatus(status)"
            >
              <div class="flex items-center">
                <span class="font-normal block truncate text-white sm:text-sm w-30">
                  {{ status.label }}
                </span>
                <span v-if="status.checked" class="text-white flex items-center px-2">
                  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="inline-flex items-center px-4 py-2 rounded-md shadow-sm bg-steel-grey w-60 <sm:mb-2">
          <input id="closedIncidents" name="closedIncidents" value="incidentsClosed.value" v-model="incidentsClosed.checked" type="checkbox" class="h-3 w-3 rounded bg-gray text-gray-500 focus:ring-transparent" @change="getPage($event)" />
          <label for="closedIncidents" class="ml-3 min-w-0 flex-1 text-white text-sm font-medium whitespace-nowrap">
            {{ incidentsClosed.label }}
          </label>
        </div>
      </div>
      <div v-if="isLoading" class="bg-mirage-grey mt-50 h-10 w-10 mx-auto">
        <svg class="animate-spin bg-mirage-grey text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
      <div v-if="streamsData && !streamsData.length && !isLoading && isProjectAccessed()" class="px-4 py-10 text-sm font-medium whitespace-nowrap text-white">
        No streams data
      </div>
      <dl
      v-if="streamsData && streamsData.length && !isLoading"
      class="mt-5"
      >
        <div class="px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-3 sm:px-6 mb-5 bg-steel-grey rounded-md" v-for="stream of streamsData">
          <div title="Stream" class="flex justify-start items-center whitespace-nowrap">
            <span class="text-secondary text-xl mr-2">{{getStreamName(stream.id)}}</span>
            <div v-if="stream.tags && stream.tags.length" class="flex justify-start">
              <div
                v-for="tag of stream.tags"
                class="px-3 shadow-sm inline-block mr-2 flex justify-center items-center text-sm tracking-wide btn-tag leading-none capitalize"
                :class="{'bg-blue-500 bg-opacity-70': tag === 'recent', 'bg-red-400 bg-opacity-70': tag === 'hot', 'bg-green-600 bg-opacity-70': tag === 'open'}"
              >
                {{ tag }}
              </div>
            </div>
          </div>
          <div class="justify-self-end <sm:hidden">
            <span class="text-secondary text-sm font-medium">Response time</span>
          </div>
          <div class="col-span-3 flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <incidents-table-rows v-if="stream.incidents && stream.incidents.items && stream.incidents.items.length" :timezone="stream.timezone" :items="stream.incidents.items"/>
                  <div v-if="stream.incidents !== undefined && !stream.incidents.items.length && !stream.loading" class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 inline-block mr-2" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-xl text-secondary">None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dl>
      <pagination-component v-if="!isLoading && streamsData && streamsData.length && isPaginationAvailable" :pagination-settings="paginationSettings" @selected-page="getPage()" />
    </div>
    <div
      v-if="!auth?.isAuthenticated"
      class="px-4 py-5 lg:text-center"
    >
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl">
          Guardian Dashboard
        </p>
        <p class="mt-4 max-w-2xl text-xl leading-relaxed text-white lg:mx-auto">
          A dashboard for incidents and responses monitoring
        </p>
      </div>
    </div>
    <invalid-project-component v-if="!isDataValid" />
  </div>
</div>
