<div id="report-page" class="<sm:pt-0">
  <div class="bg-gray overflow-hidden">
    <img v-if="isLoading" class="animate-spin bg-mirage-grey mt-50 h-10 w-10 mx-auto" src="/src/assets/spinner.svg">
    <div v-if="!isLoading && incident !== undefined">
      <div class="max-w-screen-2xl mx-auto px-2 py-4 sm:px-6 lg:px-8">
        <div class="mb-4 grid grid-cols-4 gap-2 <sm:grid-cols-1">
          <div class="">
            <h2 class="text-gray-200 text-2xl"> {{ $t('Incident') }} #{{ incident.ref }}</h2>
            <div>
              <h3 class="text-gray-400 text-lg" :title="$t('Stream')">{{stream? stream.name : ''}}</h3>
              <svg v-if="!stream" class="animate-spin bg-mirage-grey text-white inline-block h-5 w-5 mt-2 ml-1 align-top" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
            <div v-if="stream && stream.tags && stream.tags.length" class="mt-1">
              <div
                v-for="tag of stream.tags"
                class="shadow-sm text-xs text-gray-200 tracking-wide cursor-default rounded-lg leading-none mr-2 px-2 py-1 inline-block capitalize"
                :title="`${$t(tag)} ` + $t('tag')"
                :class="{'bg-blue-500 bg-opacity-70': tag === 'recent', 'bg-red-400 bg-opacity-70': tag === 'hot',
                  'bg-green-600 bg-opacity-70': tag === 'open', 'bg-orange-500 bg-opacity-70': tag === 'Other' } "
              >
                {{ $t(tag) }}
              </div>
            </div>
            <div class="rounded-md mt-4 text-sm text-gray-500 text-white">
              <a v-if="!incident.closedAt && !isError()" @click="closeReport()" class="inline-flex items-center justify-center px-3 py-0.5 border border-transparent text-white font-small rounded-md font-semibold bg-gray-600 bg-opacity-70 hover:bg-steel-grey cursor-pointer">
                {{ $t('Mark as closed') }}
              </a>
              <span v-else class="text-sm font-medium text-white py-0.7 font-semibold" :class="{'text-danger': isError()}">{{incident.status}}</span>
            </div>
          </div>
          <div class="pl-4 border-l-4 border-gray-800">
            <div class="text-sm text-gray-500 pt-2">{{ $t('Events summary') }}</div>
            <div class="pt-2 flex">
              <img v-if="incident.events.length" :title="$t('Time range of events')" class="h-5 w-5 cursor-default inline-block mr-2" src="/src/assets/alert.svg" alt="">
              <div class="text-sm text-gray-200 cursor-default inline-block" :title="incident.eventsTitle">{{ incident.eventsLabel }}</div>
            </div>
            <div v-for="event in getEventsCount(incident.events)" :key="event.value" class="text-sm text-gray-400 inline-flex items-center cursor-default pt-2 mr-3" :title="getIconTitle(event.count, event.value)">
              <img class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-300" :src="`https://static.rfcx.org/img/guardian/ic_${event.value}.svg`" alt="" @error="setDefaultReportImg">
              <span class="text-sm text-left inline-block">{{ getIconTitle(event.count, event.title) }}</span>
            </div>
          </div>
          <div class="pl-4 border-l-4 border-gray-800">
            <div class="text-sm text-gray-500 pt-2">{{ $t('Response summary') }}</div>
            <div v-if="incident.resposeSummary.length">
              <div v-for="response in incident.resposeSummary">
                <p class="text-lg text-gray-200 pt-1">{{ $t(response) }} {{ $t('confirmed') }}</p>
              </div>
            </div>
            <span v-if="!incident.resposeSummary.length" class="text-lg text-gray-200 pt-2">-</span>
            <div class="text-sm text-gray-500 pt-2 flex items-center">
              {{ $t('Response time') }}
              <img :title="$t('Duration between the first event and the first response')" class="h-4.5 w-4.5 self-center ml-1 cursor-default" src="/src/assets/info.svg" alt="i">
            </div>
            <div v-if="incident.responseLabel" class="pt-1">
              <span class="text-lg text-gray-200 cursor-default" :title="incident.responseTitle">{{ incident.responseLabel }}</span>
            </div>
          </div>
          <div class="flex justify-center items-center">
            <div v-if="!stream" class="text-xs text-gray-500 my-3 py-12 text-center">{{ $t('map n/a') }}</div>
            <map-component v-if="stream && mapData && mapData.center && mapData.center" :zoom="mapData.zoom" :center="mapData.center" classes="h-164px w-300px"/>
          </div>
        </div>
      </div>
      <div v-if="!incident.items.length" class="px-4 py-5">
        {{ $t('No responses and events data') }}
      </div>
      <div class="mx-auto px-2 py-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:grid grid-cols-12 text-gray-50">
          <div v-for="item in incident.items" class="flex md:contents">
            <div class="relative justify-start col-span-1 sm:mr-2 <sm:mr-2">
              <div class="h-full w-7 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-500 pointer-events-none"></div>
              </div>
              <div class="w-7 h-7 absolute top-1/2 -mt-3 rounded-full shadow text-center" :class="{'bg-red-700': item.type === 'event', 'bg-green-700': item.type === 'response'}">
                <img v-if="item.type === 'event'" class="flex-shrink-0 mt-1 ml-1 h-5 w-5" :title="$t('Event')" :src="`https://static.rfcx.org/img/guardian/ic_${item.classification.value}.svg`" @error="setDefaultReportImg" alt="">
                <div :title="$t('Response')">
                  <svg v-if="item.type === 'response'" :title="$t('Response')" class="flex-shrink-0 ml-1 mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#979faa" aria-hidden="true">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div v-if="item.type === 'event'" class="bg-steel-grey col-span-11 px-4 py-2 rounded-lg my-2 mr-auto">
              <span class="mr-2">{{ getEventLabel(item.start, item.end) }} {{ getTzAbbrFormat(item.createdAt) || '' }}</span>
              <span class="font-semibold">{{ $t(item.classification.title) }}</span>
            </div>
            <div v-if="item.type === 'response'" class="bg-steel-grey col-span-11 px-4 py-2 rounded-lg my-2 mr-auto">
              <div>
                <span class="mr-2">{{ dateFormatted(item.investigatedAt) || '' }} {{ getTzAbbrFormat(item.investigatedAt) || '' }}</span>
                <span class="font-semibold">{{ $t('Response') }} {{ $t('by') }}</span> {{ getCreatedByLabel(item.createdBy) }}
              </div>
              <div v-if="item.messages">
                <div v-if="item.messages.loggingEvidence" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center">
                  <span class="<sm:mt-1">{{ $t('Logging evidence') }}</span>
                  <span v-for="message in item.messages.loggingEvidence" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1 <sm:mt-1">{{$t(message)}}</span>
                </div>
                <div v-if="item.messages.loggingScale" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center">
                  <span class="<sm:mt-1">{{ $t('Logging scale') }}</span>
                  <span v-for="message in item.messages.loggingScale" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1 <sm:mt-1">{{$t(message)}}</span>
                </div>
                <div v-if="item.messages.poachingEvidence" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center">
                  <span class="<sm:mt-1">{{ $t('Poaching evidence') }}</span>
                  <span v-for="message in item.messages.poachingEvidence" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1 <sm:mt-1">{{$t(message)}}</span>
                </div>
                <div v-if="item.messages.poachingScale" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center">
                  <span class="<sm:mt-1">{{ $t('Poaching scale') }}</span>
                  <span v-for="message in item.messages.poachingScale" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1 <sm:mt-1">{{$t(message)}}</span>
                </div>
                <div v-if="item.messages.actions" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center">
                  <span class="<sm:mt-1">{{ $t('Action taken') }}</span>
                  <span v-for="message in item.messages.actions" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1 <sm:mt-1">{{$t(message)}}</span>
                </div>
              </div>
              <div>
                <div v-if="item.audioObject !== undefined && item.audioObject.src" class="audio-tag flex flex-row justify-start items-center mt-3 <sm:(mt-2 flex-col items-start)">
                  <span class="text-gray-500 text-sm mr-2 <sm:(mr-0 mb-2)">{{ $t('Additional evidence') }}</span>
                  <ranger-player-component :audio-prop="item.audioObject" />
                </div>
                <div v-if="item.sliderData || item.trackData" class="flex flex-row justify-start items-center mt-3 <sm:flex-wrap">
                  <div v-for="image in item.sliderData" class="inline mr-2 <sm:mt-1">
                    <img class="h-60px w-60px min-w-40px rounded object-cover inline-block cursor-pointer" :title="$t('Image')" :src="image.src" alt="image" @click="toggleSlider(item, true, image)">
                  </div>
                  <ranger-slider-component v-if="item.showSlider !== undefined && item.showSlider === true" :images-props="item.sliderData" @close-slider="toggleSlider(item, false)" />
                  <div v-if="item.trackData && item.trackData.settings && item.trackData.settings.center" class="h-60px w-80px <sm:mt-1 rounded cursor-pointer inline" :title="$t('Map')" @click="toggleTrack(item, true)">
                    <map-component :zoom="item.trackData.settings.zoom" :center="item.trackData.settings.center" :marker="true" :classes="'h-60px rounded'"/>
                  </div>
                  <ranger-track-modal-component v-if="item.showTrack !== undefined && item.showTrack === true && item.trackData.features" :raw-ranger-track="item.trackData" @close-ranger-track="toggleTrack(item, false)" />
                  <a v-if="((item.sliderData && item.sliderData.length) || item.audioObject)"
                      class="cursor-pointer btn py-0.5 bg-transparent hover:bg-transparent ml-auto shadow-transparent inline <sm:mt-1" :class="{'opacity-50 cursor-not-allowed disabled': item.isDownloading || item.isError}" @click="downloadAssets(item)"
                      :title="$t('Download Assets')"
                  >
                    <img class="h-6 w-6 inline-block" src="/src/assets/download.svg" alt="">
                  </a>
                </div>
                <div v-if="item.notesData" class="mt-2">
                  <span v-for="message of item.notesData" :key="message" class="text-sm font-medium mr-2">
                    {{ $t(message) }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <invalid-page-state-component v-if="!incident && !isLoading" :message="'This incident either does not exist or you do not have permission to access it'"/>
  </div>
</div>
