<div id="report-page" class="<sm:pt-0">
  <div class="bg-gray overflow-hidden">
    <img v-if="isLoading" class="animate-spin bg-mirage-grey mt-50 h-10 w-10 mx-auto" src="/src/assets/spinner.svg">
    <div v-if="!isLoading && incident !== undefined">
      <div class="max-w-screen-2xl mx-auto px-2 py-4 sm:px-6 lg:px-8">
        <div class="mb-4 grid grid-cols-4 gap-2 <sm:grid-cols-1">
          <div class="">
            <h2 class="text-gray-200 text-2xl">Incident #{{ incident.ref }}</h2>
            <div>
              <h3 class="text-gray-400 text-lg" title="Stream">{{stream? stream.name : ''}}</h3>
              <svg v-if="!stream" class="animate-spin bg-mirage-grey text-white inline-block h-5 w-5 mt-2 ml-1 align-top" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
            <div v-if="stream && stream.tags && stream.tags.length" class="mt-1">
              <div
                v-for="tag of stream.tags"
                class="shadow-sm text-xs text-gray-200 tracking-wide rounded-lg leading-none mr-2 px-2 py-1 inline-block capitalize"
                title="Tag"
                :class="{'bg-blue-500 bg-opacity-70': tag === 'recent', 'bg-red-400 bg-opacity-70': tag === 'hot',
                  'bg-green-600 bg-opacity-70': tag === 'open'}"
              >
                {{ tag }}
              </div>
            </div>
            <div class="rounded-md mt-4 text-sm text-gray-500 text-white">
              <a v-if="!incident.closedAt && !isError()" @click="closeReport()" class="inline-flex items-center justify-center px-3 py-0.5 border border-transparent text-white font-small rounded-md font-semibold bg-gray-600 bg-opacity-70 hover:bg-steel-grey cursor-pointer">
                Mark as closed
              </a>
              <span v-else class="text-sm font-medium text-white py-0.7 font-semibold" :class="{'text-danger': isError()}">{{incidentStatus}}</span>
            </div>
          </div>
          <div class="pl-4 border-l-4 border-gray-800">
            <div class="text-xs text-gray-500 pt-2">Events summary</div>
            <div class="pt-2 flex">
              <img v-if="incident.events.length" title="Time range of events" class="h-5 w-5 inline-block mr-2" src="/src/assets/alert.svg" alt="">
              <div class="text-sm text-gray-200 inline-block" :title="incident.eventsTitle">{{ incident.eventsLabel }}</div>
            </div>
            <div v-for="event in getEventsCount(incident.events)" :key="event.value" class="text-sm text-gray-400 inline-flex items-center pt-2 mr-3" :title="getIconTitle(event.count, event.value)">
              <img class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-300" :src="`https://static.rfcx.org/img/guardian/ic_${event.value}.svg`" alt="" @error="setDefaultReportImg">
              <span class="text-sm text-center inline-block">{{ getIconTitle(event.count, event.title) }}</span>
            </div>
          </div>
          <div class="pl-4 border-l-4 border-gray-800">
            <div class="text-xs text-gray-500 pt-2">Response summary</div>
            <div v-if="incident.resposeSummary.length">
              <div v-for="response in incident.resposeSummary">
                <p class="text-lg text-gray-200 pt-1">{{ response }} confirmed</p>
              </div>
            </div>
            <span v-if="!incident.resposeSummary.length" class="text-lg text-gray-200 pt-2">-</span>
            <div class="text-xs text-gray-500 pt-2">Response time</div>
            <div class="text-lg text-gray-200 pt-2" :title="incident.responseTitle">{{ incident.responses.length ? incident.responseLabel : '-' }}</div>
          </div>
          <div class="bg-steel-grey flex justify-center items-center">
            <div v-if="!stream" class="text-xs text-gray-500 my-3 py-12 text-center">[Map]</div>
            <map-component v-if="stream && mapData.center && mapData.center" :zoom="mapData.zoom" :center="mapData.center" :width="'h-100px'"/>
          </div>
        </div>
      </div>
      <div v-if="!incident.items.length" class="px-4 py-5">
        No responses and events data
      </div>

      <div class="mx-auto px-2 py-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:grid grid-cols-12 text-gray-50">
          <div v-for="item in incident.items" class="flex md:contents">
            <div class="relative justify-start col-span-1 sm:mr-2 <sm:mr-2">
              <div class="h-full w-7 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-500 pointer-events-none"></div>
              </div>
              <div class="w-7 h-7 absolute top-1/2 -mt-3 rounded-full shadow text-center" :class="{'bg-red-700': item.type === 'event', 'bg-green-700': item.type === 'response'}">
                <img v-if="item.type === 'event'" class="flex-shrink-0 mt-1 ml-1 h-5 w-5 text-gray-300" title="Event" :src="`https://static.rfcx.org/img/guardian/ic_${item.classification.value}.svg`" @error="setDefaultReportImg" alt="">
                <div title="Response">
                  <svg v-if="item.type === 'response'" title="Response" class="flex-shrink-0 ml-1 mt-1 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div v-if="item.type === 'event'" class="bg-steel-grey col-span-11 px-4 py-2 rounded-lg my-2 mr-auto">
              <span class="mr-2">{{formatDayWithoutTime(item.createdAt)}}, {{timeFormatted(item.start)}}-{{timeFormatted(item.end)}} {{getGmtDiffFormat(item.createdAt)}}</span>
              <span class="font-semibold">{{item.classification && item.classification.title}}</span>
            </div>
            <div v-if="item.type === 'response'" class="bg-steel-grey col-span-11 px-4 py-2 rounded-lg my-2 mr-auto">
              <div>
                <span class="mr-2">{{dateFormatted(item.investigatedAt) || 0}} {{getGmtDiffFormat(item.investigatedAt)}}</span>
                <span class="font-semibold">Response</span> by {{ getCreatedByLabel(item.createdBy) }}
              </div>
              <div v-if="item.messages">
                <div v-if="item.messages.loggingEvidence" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center <sm:mt-1">
                  Logging evidence
                  <span v-for="message in item.messages.loggingEvidence" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1">{{message}}</span>
                </div>
                <div v-if="item.messages.loggingScale" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center <sm:mt-1">
                  Logging scale
                  <span v-for="message in item.messages.loggingScale" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1">{{message}}</span>
                </div>
                <div v-if="item.messages.poachingEvidence" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center <sm:mt-1">
                  Poaching evidence
                  <span v-for="message in item.messages.poachingEvidence" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1">{{message}}</span>
                </div>
                <div v-if="item.messages.poachingScale" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center <sm:mt-1">
                  Poaching scale
                  <span v-for="message in item.messages.poachingScale" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1">{{message}}</span>
                </div>
                <div v-if="item.messages.actions" class="text-xs mt-3 flex flex-row flex-wrap justify-start items-center <sm:mt-1">
                  Action taken
                  <span v-for="message in item.messages.actions" class="bg-gray-600 bg-opacity-70 rounded-lg ml-2 px-2 py-1">{{message}}</span>
                </div>
              </div>
              <div class="text-xs mt-3">
                <div v-if="item.audioObject !== undefined && item.audioObject.src" class="audio-tag flex flex-row justify-start items-center <sm:(mt-2 flex-col items-start)">
                  <span class="text-gray-500 mr-2 <sm:(mr-0 mb-2)">Additional evidence</span>
                  <ranger-player-component :audio-prop="item.audioObject" />
                </div>
                <div class="my-8 flex flex-row justify-start items-center h-70px">
                  <div v-if="item.notesData" class="bg-gray-600 text-gray-500 text-center py-6 px-2 inline cursor-pointer mr-2" @click="toggleNotes(item, true)">&nbsp;[Notes]&nbsp;</div>
                  <ranger-notes v-if="item.showNotes !== undefined && item.showNotes === true" :notes="item.notesData" @close-notes="toggleNotes(item, false)"/>
                  <div v-for="image in item.sliderData" class="inline mr-2" :style="{'background': 'center / contain no-repeat url(' + image.src + ')'}">
                    <img class="max-h-70px max-w-70px inline-block cursor-pointer" :src="image.src" alt="" @click="toggleSlider(item, true, image)">
                  </div>
                  <ranger-slider-component v-if="item.showSlider !== undefined && item.showSlider === true" :images-props="item.sliderData" @close-slider="toggleSlider(item, false)" />
                  <div v-if="item.trackData" class="cursor-pointer inline w-100px" @click="toggleTrack(item, true)">
                    <map-component :zoom="item.trackData.settings.zoom" :center="item.trackData.settings.center" :width="'h-65px'"/>
                  </div>
                  <ranger-track-modal-component v-if="item.showTrack !== undefined && item.showTrack === true && item.trackData.features" :raw-ranger-track="item.trackData" @close-ranger-track="toggleTrack(item, false)" />
                  <a v-if="((item.sliderData && item.sliderData.length) || item.audioObject)"
                      class="cursor-pointer btn py-0.5 bg-transparent hover:bg-transparent ml-auto shadow-transparent inline" :class="{'opacity-50 cursor-not-allowed disabled': item.isDownloading || item.isError}" @click="downloadAssets(item)"
                      title="Download Assets"
                  >
                    <img class="h-6 w-6 inline-block" src="/src/assets/download.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <invalid-page-state-component v-if="!incident && !isLoading" :message="'This incident either does not exist or you do not have permission to access it'"/>
  </div>
</div>
