<div id="analytics-page">
  <div class="bg-gray overflow-hidden <sm:pt-0">
    <div class="mt-1 flex flex-row items-center <sm:(flex-wrap flex-col items-start)">
      <div class="mr-2">
        <button
          type="button"
          class="relative w-full bg-steel-grey rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-pointer outline-none focus:outline-none focus:border-transparent border-transparent sm:text-sm flex items-center mr-2 <sm:mb-2"
          aria-expanded="false" aria-labelledby="listbox-label" aria-haspopup="true" id="type-button"
          @click="toggleTypeMenu()"
        >
          <span class="block truncate">
            {{ $t('Type') }}:
          </span>
          <span class="ml-3 block truncate">
            {{ $t(getSelectedType()) }}
          </span>
          <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </button>
        <ul v-if="eventType !== undefined && typeSelected === true" class="absolute z-10 mt-1 bg-steel-grey w-40 shadow-lg max-h-56 rounded-md overflow-y focus:outline-none"
        role="menu" aria-labelledby="type-button" @mouseleave="typeSelected = false">
        <li
          v-for="(type, i) in eventType"
          class="text-gray-900 cursor-pointer select-none relative pl-3 py-1 hover:bg-box-grey"
          :id="'listbox-option-' + i"
          role="option"
          @click="toggleType(type)"
        >
          <div class="flex items-center">
            <span class="font-normal block truncate text-white sm:text-sm w-30">
              {{ $t(type.label) }}
            </span>
            <span v-if="type.checked" class="text-white flex items-center px-2">
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
        </li>
      </ul>
      </div>
      <div class="mr-2">
        <button
          v-if ="getSelectedStream() !== undefined"
          type="button"
          class="relative w-full bg-steel-grey rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-pointer outline-none focus:outline-none focus:border-transparent border-transparent sm:text-sm flex items-center mr-2 <sm:mb-2"
          aria-expanded="false" aria-labelledby="listbox-label" aria-haspopup="true" id="type-button"
          @click="toggleStreamMenu()"
        >
          <span class="block truncate">
            {{ $t('Stream') }}:
          </span>
          <span class="ml-3 block truncate">
            {{ getSelectedStream() }}
          </span>
          <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </button>
        <ul v-if="streamStatus !== undefined && streamSelected === true" class="absolute z-10 mt-1 bg-steel-grey w-40 shadow-lg rounded-md overflow-y focus:outline-none"
        role="menu" aria-labelledby="type-button" @mouseleave="streamSelected = false">
        <li
          v-for="(stream, i) in streamStatus"
          class="text-gray-900 cursor-pointer select-none relative pl-3 py-1 hover:bg-box-grey"
          :id="'listbox-option-' + i"
          role="option"
          @click="toggleStream(stream)"
        >
          <div class="flex items-center">
            <span class="font-normal block truncate text-white sm:text-sm w-30">
              {{ $t(stream.label) }}
            </span>
            <span v-if="stream.checked" class="text-white flex items-center px-2">
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
        </li>
      </ul>
      </div>
      <div class="block mr-2">
        <el-date-picker 
          class="relative w-full bg-steel-grey rounded-md"
          v-model="dateValues"
          type="daterange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
        />
      </div>
    </div>
  </div>
  <img v-if="isLoading" class="animate-spin bg-mirage-grey mt-50 h-10 w-10 mx-auto" src="/src/assets/spinner.svg">
  <div class="mt-5" id="heatmapGraph"></div>
  <div class= "mt-5 pl-11" v-if="showNumberOfEvents && !isLoading">{{ $t('Number of events') }}</div>
  <div class="mt-1 pl-10" id="scaleOfHeatmapGraph"></div>
  <div class= "mt-10" v-if="isHaveData && !isLoading">{{ $t('Not have data') }}</div>
</div>